/* .search-form > input {
    border-bottom: none;
    margin-bottom: 0;
    width: 80%;
    height: 40px;
    background: #DCEEFB;
    margin-left: -4px;
}

.leftSearch {
    background: #DCEEFB;
    height: 40px;
    padding: 4px;
}

.search-form {
    height: 40px;
} */    

.search-form {
    width: 100%;
    display: flex;
    align-items: center;
}


.search-form > input {
    border-bottom: none;
    margin-bottom: 0;
    display: inline;
    background: #DCEEFB;
    width: 90%;
    height: 19px;
    padding: 14px 7px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.search-form > input:focus {
    border-bottom: none !important;
}

.leftSearch {
    display: inline;
    padding: 14px 7px;
    background: #DCEEFB;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}