.subtext {
    color: #829AB1;
    font-size: 13px;
}

.follow-button {
    transition: all 0.2s ease;
    background: none;
    border: 2px solid #4098D7;
    border-radius: 9999px;
}

.follow-button:hover {
    transition: all 0.2s ease;
    background: #4098D7;
    color: #DCEEFB;
    border: 2px solid #4098D7;
    border-radius: 9999px;
}
