.split-signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.bg-signup {
    background-color: deepskyblue;
}

.sm-hide {
    display: show;
}

.login-actions-panel {
    padding: 7px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0F609B;
}

@media only screen and (max-width: 850px) {
    .sm-hide {
        display: none;
    }
    .split-signup {
        grid-template-columns: 1fr;
    }
}

h2 > svg {
    width: 30px;
    margin-right: 4px;
}
